.container-contact .contact-header{
   margin-top:69px; 
} 
.container-contact .contact-header h1{
    color: white;
    background-color:rgb(245, 200, 45);
    font-size: 2.5rem;
    height: 42px;
    width:205px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 75px;
} 

.contact-header h2{
   line-height:95px;
   color:gray;
   font-size: 1.1rem;
   font-weight: bold;
}
/******************************** SECTION GET IN  TOUCH  **************************************/
section.get-in-touch{
    margin-left: 105px;
}
section.get-in-touch article.title h3{
    font-size: 1.5rem;
    margin-top: 45px;
    text-decoration: underline;
    text-decoration-color:rgb(245, 200, 45);
}
section.get-in-touch article.title p{
    width: 350px;
    font-size: 1rem;
}
article.body .body-item1{
    padding-top: 15px;
    
}
article.body .body-item2{
    padding-top: 15px;
}
article.body .body-item3{
    padding-top: 15px;
    
}
article.body .body-item4{
    padding-top: 15px;
    
}

.body-item1 h3{
    font-size: 1rem;
    font-weight: bold;
    line-height: 30px;
}
.body-item1 h3{
    font-size: 1rem;
    font-weight: bold;
    line-height: 30px;
}
.body-item2 h3{
    font-size: 1rem;
    font-weight: bold;
    line-height: 30px;
}
.body-item3 h3{
    font-size: 1rem;
    font-weight: bold;
    line-height: 30px;
}
.body-item4 h3{
    font-size: 1rem;
    font-weight: bold;
    line-height: 30px;
}



.body-item1 .fa-location-dot{
    font-size: 1.8rem;
    color: gray;
}
.body-item2 .fa-envelope{
    font-size: 1.8rem;
    color: gray;
}
.body-item3 .fa-phone{
    font-size: 1.8rem;
    color: gray;
}
.body-item4 .fa-circle-check{
    font-size: 1.8rem;
    color: gray;
}
/******************************** SECTION CONTACT FORM  **************************************/
section.contact-form{
 margin-left: 70px;
}
section.contact-form .item-title h3{
    font-size: 1.5rem;
    margin-top: 45px;
    text-decoration: underline;
    text-decoration-color:rgb(245, 200, 45);
}
/************************************  DETAILS1  ******************************************/
article.items-details .item-details1{
    border: 0.9px solid #ccc;
    width: 590px;
}

article.items-details .item-details1 h5, .fa-user{
    color:#ccc;
    font-size: 1.3rem;
}
article.items-details .item-details1 h5{
   padding-top: 24px;
   padding-left:20px;
}
article.items-details .item-details1 .fa-user{
    padding-top: 24px;
    padding-right: 20px;
}
/************************************  DETAILS2  ******************************************/

article.items-details .item-details2{
    border: 0.9px solid #ccc;
    width: 590px;
}

article.items-details .item-details2 h5, .fa-envelope{
    color:#ccc;
    font-size: 1.3rem;
}
article.items-details .item-details2 h5{
   padding-top: 24px;
   padding-left:20px;
}
article.items-details .item-details2 .fa-envelope{
   padding-top: 24px;
   padding-right: 20px;
}

article.items-details .item-details2{
    margin-top: 25px;
}

/************************************  DETAILS3  ******************************************/
article.items-details .item-details3{
    border: 0.9px solid #ccc;
    width: 590px;
    height: 165px;
}

article.items-details .item-details3 h5, .fa-comment{
    color:#ccc;
    font-size: 1.3rem;
}
article.items-details .item-details3 h5{
    padding-top: 24px;
    padding-left:20px;
}
article.items-details .item-details3 .fa-comment{
   padding-top: 24px;
   padding-right: 20px;
}

article.items-details .item-details3{
    margin-top: 25px;
}
/************************************  DETAILS4  ******************************************/

article.items-details .item-details4{
    border: 0.9px solid #ccc;
    width: 600px;
    height: 130px;
}

article.items-details .item-details4 .fa-square{
    color:#ccc;
    font-size: 3.2rem;
}
article.items-details .item-details4 p{
  font-size: 1.2rem;
  font-weight: bold;
  padding-top:35px ;
}
article.items-details .item-details4 .fa-square{
    padding-top: 40px;
    padding-left:25px ;
}

article.items-details .item-details4{
    margin-top: 25px;
}

/************************************  DETAILS5  ******************************************/
article.items-details .item-details5{
    border: 3px solid rgb(245, 200, 45);
    margin-top: 25px;
    width: 160px;
}

article.items-details .item-details5 h5{
 font-size: 0.9rem;
 padding-top: 20px;
 padding-left: 25px;
}
/************************************ MEDIA QUERIES ******************************************/
@media screen and (min-width: 769px){
    .header-container{
        display: none;
    }
}

@media screen and (max-width: 912px){
   #aside{
        display: none;
    }
  .contact-body{
       flex-wrap: wrap;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        padding: 15px 7px;

    } 
    

    .header-left .header-fullname{
        font-weight: bold;
        font-size:1.2rem ;
        color:gray;
    }
    .header-right .header-icon .fa-bars{
        font-size: 1.1rem;
        padding: 0 10px;
    }
    
}

@media screen and (max-width: 820px){
    
}
@media screen and (max-width: 768px){
    .header-container{
        display: flex;
        justify-content: space-between;
        padding: 15px 7px;
        
    } 
    

    .header-left .header-fullname{
        font-weight: bold;
        font-size:1.2rem ;
        color:gray;
    }
    .header-right .header-icon .fa-bars{
        font-size: 1.1rem;
        padding: 0 10px;
    }
    .contact-body{
         flex-wrap: wrap;
      }
    
}
@media screen and (max-width: 548px){
}
@media screen and (max-width: 414px){
    
}
@media screen and (max-width: 393px){
    
}
@media screen and (max-width: 280px){
    
}


