.container-resume section.title{
    padding: 70px 15px;
}

.container-resume section.title h1{
    color: white;
    background-color:rgb(245, 200, 45);
    font-size: 2.2rem;
    height: 50px;
    width:200px;
    text-align: center;
    padding-top: 15px;
    padding-left:70px ;
}
.container-resume section.title h2{
   line-height: 80px;
   color:gray;
   font-size: 1.1rem;
   font-weight: bold;
}

/******************************* ARTICLE-EDUCATION ***********************************/
article#education .title1{
    font-size: 1.4rem;
    font-weight: bold;
   text-decoration: underline;
   text-decoration-color:rgb(245, 200, 45);
}
article#education{
   padding: 0px 125px;
}


#details #date{
    color:white ;
    background-color:greenyellow;
    height: 22px;
    width:62px;
    text-align: center;
    padding-top: 8px;
    padding-left:28px;
    padding-bottom:4px;
    font-size: 1.2rem;
    margin-top:20px ;
}
#details .others-details h3{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2px;
    padding-top:8px ;
}

#details .others-details h4{
    font-size: 1.1rem;
    color: gray;
    line-height: 0px;
    padding: 2px 2px;
    
}
.others-details{
    width: 100%;
    margin: 20px 40px;
}

.others-details p{
    color: gray;
    margin: 0px;
}

/******************************* ARTICLE-EXPERIENCE ***********************************/
article#experience .title2{
    font-size: 1.4rem;
    font-weight: bold;
   text-decoration: underline;
   text-decoration-color:rgb(245, 200, 45);
}

#browse-details #date{
    color:white ;
    background-color:greenyellow;
    height: 25px;
    width:170px;
    text-align: center;
    padding-top: 8px;
    padding-left:35px ;
    font-size: 1.2rem;
    margin-top:20px ;
}

#browse-details .new-details h3{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2px;
    padding-top: 8px;
    
}
#browse-details .new-details h4{
    font-size: 1.1rem;
    color: gray;
    line-height: 0px;
    padding: 2px 2px;
}

.new-details p{
    color: gray;
    margin: 0px;
}

.new-details{
    width: 110%;
    margin: 20px 40px;
}
/************************************ ARTICLE DESIGN *****************************************/

/************************************ FOOTER  *****************************************/
footer h5{
margin:55px 135px;
border: 3px solid rgb(245, 200, 45);
font-size: 1.5rem;
width: 245px;
height: 60px;
text-align: center;
padding-top: 45px;
}







